/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
// variables.scss ou variables.css
:root {
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d3394c;
    --ion-color-danger-tint: #ed576b;
  }
  